body {
	background-color: #c56b6b;
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

form {
	background-color: #fcc3c3;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #9c5959;
	margin: 50px auto;
	padding: 20px;
	max-width: 500px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="email"],
input[type="text"],
input[type="tel"],
input[type="date"] {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #d37979;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #c26161;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}
